

.toggle-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 3px;
  width: 26px;
  height: 21px;
  background-color: #27262A;;
  border: none;
  padding: 0;
  &--active {
    gap: 0;
    .toggle-button__bar {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto 0;
      }
      &:nth-child(3) {
        transform: rotate(135deg);
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto 0;
      }
    }
  }
  &__bar {
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    &:nth-child(1){
      width: 15px;
      align-items: end;
    }
  }

}
