.container {
    // max-width: 1200px;
    padding: 0 10px 0 10px;

    .editor-title {
        text-align: center;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        text-transform: uppercase;
        color: #635c73;
        margin-bottom: 27px;
    }

    .editor-description {
        margin: 0 auto;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: #323232;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 36px;
    }

    .button {
        margin-bottom: 88px;

        .button-items {
            margin: 0 auto;
            width: 200px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: stretch;
            padding-left: 10px;

            .button-item {
                margin-bottom: 5px;
                border: 1px solid lightgray;
                border-radius: 5px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                font-size: 7px;
                display: flex;
                flex-direction: row;
                height: 15px;

                .BtnGroup {
                    display: flex;
                    flex-direction: row;
                }

                #fork-button {
                    text-decoration: none;
                    color: black;
                    background: linear-gradient(white, lightgray);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 5px 0 5px;

                    svg {
                        margin-right: 5px;
                    }
                }

                .button-item-count {
                    padding: 0 2px 0 5px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    font-weight: normal;
                    border-left: 1px solid lightgray;
                    font-size: 7px;
                    font-weight: bold;
                }
            }
        }
    }
}

.service-title {
    margin: 0 auto;
    color: #8d81ac;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 36px;
}

.service-title-container1200 {
    display: none;
}

.service-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item-img {
    margin: 0 auto;
    width: 111px;
    height: 64px;
    flex-shrink: 0;
    margin-bottom: 27px;
}

.item-title {
    color: #323232;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 14px;
}

.item-description {
    color: #848e97;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 48px;
}

.sevice-img-container {
    min-width: 300px;
    min-height: 381px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.sevice-img {
    min-width: 298px;
    min-height: 380px;
}

.srvice-img-481 {
    display: none;
}

.srvice-img-993 {
    display: none;
}

.bg {
    width: 100%;
    margin-top: 0;
    background-image: url('../img/BG2.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4B3B4D;
}


.line {
    margin: auto;
    display: block;
    max-width: 555px;
    height: 2px;
    background: #645766;
    margin-bottom: 14px;
}

.Pricing .pricing-title {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}

.pricing-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.pricing-item {
    margin: 0 auto;
    width: 257px;
    background-color: rgba(255, 255, 255, 0.11);
    margin-bottom: 18px;
    z-index: 1;

    &:first-child .pricing-item-decsription {
        margin-bottom: 19px;
    }
}

.pricing-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    background-color: rgba(255, 255, 255, 0.06);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    /* 100% */
    text-transform: uppercase;
}

.price {
    color: #fff;
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    text-transform: uppercase;
}

.period {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.pricing-item-line {
    margin: 0 auto;
    width: 60px;
    height: 5px;
    flex-shrink: 0;
    background: #8d81ac;
    margin-top: 38px;
    margin-bottom: 30px;
}

.pricing-item-decsription {
    color: #fff;
    padding-bottom: 37px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.pricing-item-button {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    width: 60%;
    max-width: 163px;
    margin: 0 auto;
    margin-bottom: 67px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
}

.pricing-item-agency {
    width: 299px;
    margin: 0 auto;
    background-color: rgba(70, 48, 72, 0.84);
    margin-bottom: 18px;
    z-index: 1;

    .pricing-item-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 111px;
        background-color: rgba(0, 0, 0, 0.11);
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        /* 100% */
        text-transform: uppercase;
    }

    .price {
        color: #fff;
        font-family: Montserrat;
        font-size: 82px;
        font-style: normal;
        font-weight: 700;
        line-height: 84px;
        text-transform: uppercase;
    }

    .period {
        color: #fff;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

        /* 114.286% */
        text-transform: uppercase;
    }

    .pricing-item-decsription {
        color: #fff;
        padding-bottom: 37px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .pricing-item-button {
        display: block;
        color: white;
        text-align: center;
        padding: 18.5px;
        background-color: rgba(255, 255, 255, 0.15);
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 25px;
        color: #fff;
        width: 60%;
        max-width: 163px;
        margin: 0 auto;
        margin-bottom: 67px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        text-transform: uppercase;
    }
}

@media (min-width: 481px) {
    .editor-title {
        color: #635c73;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;

        text-transform: uppercase;
    }

    .container .editor-description {
        max-width: 460px;
        margin-bottom: 24px;
    }

    .container .button {
        margin-bottom: 160px;

        .button-items {
            margin: 0 auto;
            min-width: 230px;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-left: 10px;

            .button-item {
                margin-bottom: 5px;
                border: 1px solid lightgray;
                border-radius: 5px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                font-size: 7px;
                display: flex;
                flex-direction: row;
                height: 15px;

                .BtnGroup {
                    display: flex;
                    flex-direction: row;
                }

                #fork-button {
                    text-decoration: none;
                    color: black;
                    background: linear-gradient(white, lightgray);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 5px 0 5px;

                    svg {
                        margin-right: 5px;
                    }
                }

                .button-item-count {
                    padding: 0 2px 0 5px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    font-weight: normal;
                    border-left: 1px solid lightgray;
                    font-size: 7px;
                    font-weight: bold;
                }
            }
        }
    }

    .service-title {
        margin: 0 auto;
        color: #8d81ac;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 55px;
    }
    @media(min-width:600px){
        .service-title{
            font-size: 38px;
        }
    }
    @media(min-width:768px){
        .service-title{
            font-size: 42px;
        }
    }

    .service-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        .item-right {
            padding-left: 10px;
            max-width: 562px;
        }
    }

    .item-img {
        width: 111px;
        height: 64px;
        flex-shrink: 0;
        margin-bottom: 27px;
        padding-left: 20px;
    }

    .srvice-img-320 {
        display: none;
    }

    .srvice-img-481 {
        display: block;
    }

    .item-title {
        text-align: justify;
        color: #323232;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 14px;
    }

    .item-description {
        text-align: justify;
        color: #848e97;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 48px;
    }

    .sevice-img-container {
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
    }

    .sevice-img {
        min-width: 317px;
        min-height: 380px;
    }

    .bg {
        background-size: auto 100%;
    }

    .line {
        display: block;
        max-width: 555px;
        height: 2px;
        background: #645766;

    }

    .Pricing {
        display: grid;
        justify-content: center;

        .pricing-title {
            color: #fff;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            padding-bottom: 39px;
        }
    }

    .pricing-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 94px;
    }

    .pricing-item {
        margin: 0 auto;
        // min-width: 220px;
        width: 95%;
        max-width: 257px;
        max-height: 460px;
        background-color: rgba(255, 255, 255, 0.11);
        margin-bottom: 30px;
        z-index: 1;

        &:nth-child(1) {
            padding-right: 0px;
            margin-right: 0px;
        }
    }

    .pricing-item-agency {
        width: 100%;
        max-width: 299px;
        // min-width: 230px;
        margin: 0 auto;
        background-color: rgba(70, 48, 72, 0.84);
        margin-bottom: 18px;
        z-index: 1;
    }

}

@media (min-width: 993px) {
    .container {
        // max-width: 1200px;
        margin: 0 auto;

        .editor-title {
            text-align: center;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
            font-size: 54px;
            line-height: 54px;
            font-weight: 700;
            text-transform: uppercase;
            color: #635c73;
            margin-bottom: 35px;
        }

        .editor-description {
            color: #323232;
            max-width: 861px;
            text-align: center;
            font-family: Lato;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 13px;
        }

        .button {
            margin-bottom: 70px;

            .button-items {
                width: 270px;
            }
        }

        .button-items {
            margin: 0 auto;
            // min-width: 230px;
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: stretch;
            // padding-left: 10px;

            .button-item {
                margin-bottom: 5px;
                border: 1px solid lightgray;
                border-radius: 5px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                font-size: 7px;
                display: flex;
                flex-direction: row;
                //   height: 50px;

                .BtnGroup {
                    display: flex;
                    flex-direction: row;

                }

                #fork-button {
                    text-decoration: none;
                    color: black;
                    background: linear-gradient(white, lightgray);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 20px 20px 20px 10px;

                    svg {
                        margin-right: 5px;
                    }
                }

                .button-item-count {
                    padding: 0 2px 0 5px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    font-weight: normal;
                    border-left: 1px solid lightgray;
                    font-size: 7px;
                    font-weight: bold;
                }
            }
        }
    }

    .service {
        background: #f4f4f4;
    }

    .service-container {
        max-width: 1200px;
        margin: 0 auto;
        background: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: stretch;
    }

    .service-title {
        max-width: 620px;
        padding-top: 54px;
        margin-bottom: 18px;
        color: #8d81ac;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
    }
    @media(min-width: 1200px){
        .service-title {
            max-width: 620px;
            padding-top: 94px;
            margin-bottom: 18px;
            color: #8d81ac;
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
        } 
    }

    .service-items-container {
        width: 550px;
    }

    .service-title-container {
        display: none;
    }

    .service-title-container1200 {
        display: block;
    }

    .sevice-img-container {
        width: 690px;
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
        flex: 1;

        .sevice-img {
            max-width: 690px;
        }

        .srvice-img-481 {
            display: none;
        }

        .srvice-img-993 {
            display: block;

        }
    }

    .service-items {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 100px;

    }

    .item {
        display: flex;
        flex-direction: row;
    }

    .item-img {
        margin: 0 auto;
        width: 111px;
        height: 64px;
        flex-shrink: 0;
        margin-bottom: 27px;
    }

    .item-title {
        text-align: left;
        color: #323232;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 14px;
    }

    .item-description {
        width: 326px;
        color: #848e97;
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 33px;
    }

    .bg {
        margin: 0 auto;
        padding-bottom: 200px;
        background-size: 100% 100%;
    }

    .line {
        display: block;
        max-width: 780px;
        height: 2px;
        background: #645766;
        margin-top: 10px;

    }

    .Pricing .pricing-title {
        color: #fff;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 112px;
    }

    .pricing-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // height: 457px;
    }

    .pricing-item {
        display: flex;
        flex-direction: column;
        // height: 457px;
        margin: 0 auto;
        max-width: 257px;
        background-color: rgba(255, 255, 255, 0.11);
        margin-bottom: 18px;
        z-index: 1;
    }

    .pricing-item-first .pricing-item-decsription {
        margin: 9px;
    }

    .pricing-item-agency {
        height: 560px;

        .pricing-item-button {
            display: block;
            color: white;
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.15);
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 25px;
            color: #fff;
            width: 60%;
            max-width: 163px;
            margin: 0 auto;
            margin-top: 55px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;

            /* 100% */
            text-transform: uppercase;
        }
    }


    .pricing-item-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 97px;
        background-color: rgba(255, 255, 255, 0.06);
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        /* 100% */
        text-transform: uppercase;
    }
}