@import "./reset.scss";
@import "./components/colors";
@import "./components/btn";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./components/mixin";
@import "./style.scss";

.content{
  padding: 0 10px 0 10px;
}
.header {
  background: #27262a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;
  position: relative;


  &__buy-btn {
    background: #8D81AC;
    border-radius: 40px;
    min-width: 119px;
    padding: 11px 10px;
    @include font-family-Montserrat-700;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    cursor: grab;

    &:hover {
      background: white;
      color: $light-purpol;
    }
  }

  &__logo {
    &:hover .header__logo-icon {
      display: none;
    }

    &:hover .header__icon-hover {
      display: flex;
    }
  }

  &__logo-text {
    display: none;
  }

  &__nav-items {
    display: none;
    background-color: $grey;
    width: 292px;
    margin: 0 auto;
    position: absolute;
    top: 103px;
    right: 20px;
    left: auto;

    &--active {
      display: block;
    }
  }

  &__nav-item {
    position: relative;
    border-bottom: 1px solid #3B3B3B;

    & a {
      display: block;
      color: #FFFFFF;
      padding-left: 34px;
      padding-top: 29px;
      padding-bottom: 21px;
      font-style: normal;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      position: relative;
    }

    & a::before {
      content: "";
      display: none;
    }

    & a:focus {
      color: $light-purpol;
    }

    & a:focus::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 53px;
      background-color: $light-purpol;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
    }
  }

  &__logo-icon {
    display: block;
  }

  &__icon-hover {
    display: none;
  }

}

.inform {
  background: url("../img/bg1.png");
  display: flex;
  flex-direction: column;
  min-height: 718px;
  background-position: center;

  &__title {
    display: block;
    @include font-family-Montserrat-700;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
  }

  &__subtitle {
    @include font-family-Montserrat-400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: $light-purpol;
    margin-top: 19px;
  }

  &__title-logo {
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #848E97;
    margin-top: 14px;
  }
}

.btn-wrapper {
  position: relative;
}

.btn-dwn {
  width: 290px;
  height: 45px;
  background: $light-purpol;
  border-radius: 40px;
  @include font-family-Montserrat-700;
  font-size: 18px;
  line-height: 20px;
  border: none;
  color: #FFFFFF;
  cursor: grab;
  min-width: 290px;
  padding: 13px 29px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trial-text {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 80px;
  color: #848E97;

  text-align: center;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

}

.section-people {
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4B3B4E;
  padding-bottom: 88px;

  &__subtitle {
    @include font-family-Montserrat-700;
    font-size: 36px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 57px;
    margin-bottom: 53px;
  }

  &__people-items {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: grid;
    gap: 45px;
  }

  &__people-item {
    display: grid;
    grid-template-rows: 64px auto;
    gap: 22px;
    justify-items: center;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 270px;
  }

  &__footer {
    background-size: auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    margin-top: 37px;
    align-items: center;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;

  }
  
}


// Медіа-запит для розмірів екрана від 481px до 992px
@media screen and (min-width: 481px) and (max-width: 992px) {
  .buttons {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .header {
    position: relative;
    min-height: 118px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: flex-start;

    &__logo {
      display: flex;
      align-items: center;
      gap: 17px;

      &:hover .header__logo-icon {
        display: none;
      }

      &:hover .header__icon-hover {
        display: flex;
      }

      &:hover .header__logo-text {
        color: white;
      }
    }


    &__logo-text {
      display: flex;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 16px;
      display: flex;
      text-transform: uppercase;
      color: $light-purpol;
    }

    &__nav-items {
      display: flex;
      background-color: transparent;
      justify-content: space-evenly;
      margin: 0;
      width: 100%;
      bottom: 0;
      top: 85px;
    }

    &__nav-item a {
      @include font-family-Montserrat-700;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      padding: 18px 0;
      position: static;
      color: $light-purpol;
    }

    & a:focus {
      color: white;
    }

    & a:focus::before {
      display: none;
    }

    &__nav-item {
      border-bottom: none;
    }
  }

  .section-people {
    &__people-items {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      display: grid;
      gap: 45px;
      grid-template-columns: repeat(2, minmax(200px, 315px));
    }

    &__people-item {
      grid-template-rows: 64px max-content;
      width: auto;
    }
  }
  .trial-text {
    text-align: center;
    padding-top: 44px;
    padding-bottom: 94px;
    color: #848E97;
  
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  
  }
}

// Медіа-запит для розмірів екрана від 993px до 1200px
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .main {
    background: url("../img/bg1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .buttons {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .inform {
    background: none;
  }

  .header {
    background: none;
    position: relative;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: flex-start;

    &__logo {
      display: flex;
      align-items: center;
      gap: 17px;

      &:hover .header__logo-icon {
        display: none;
      }

      &:hover .header__icon-hover {
        display: flex;
      }
    }

    &__logo:hover .header__logo-text {
      color: white;
    }

    &__logo-text {
      display: flex;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 16px;
      display: flex;
      text-transform: uppercase;
      color: $light-purpol;
    }

    &__nav-items {
      display: flex;
      background-color: transparent;
      justify-content: center;
      gap: 42px;
      margin: 0;
      width: 530px;
      top: 12px;
      right: 15%;
      left: auto;
    }

    &__nav-item a {
      @include font-family-Montserrat-700;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      padding: 18px 0;
      position: static;
      color: $light-purpol;
    }

    & a:focus {
      color: white;
    }

    & a:focus::before {
      display: none;
    }

    &__nav-item {
      border-bottom: none;
    }
  }

  .section-people {
    &__people-items {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      display: grid;
      gap: 45px;
      grid-template-columns: repeat(3, minmax(200px, 315px));
    }

    &__people-item {
      grid-template-rows: 64px max-content;
      width: auto;
    }
  }

  .trial-text {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 66px;
    color: #848E97;
  
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  
  }
}

// Медіа-запит для розмірів екрана ширше 1200px
@media screen and (min-width: 1200px) {
  .main {
    background: url("../img/bg1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .buttons {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .inform {
    background: none;
  }

  .header {
    background: none;
    position: relative;
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      display: flex;
      align-items: center;
      gap: 17px;

      &:hover .header__logo-icon {
        display: none;
      }

      &:hover .header__icon-hover {
        display: flex;
      }
    }

    &__logo:hover .header__logo-text {
      color: white;
    }

    &__logo-text {
      display: flex;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 16px;
      display: flex;
      text-transform: uppercase;
      color: $light-purpol;
    }

    &__nav-items {
      display: flex;
      background-color: transparent;
      justify-content: center;
      gap: 42px;
      margin: 0;
      width: 530px;
      top: 12px;
      right: 15%;
      left: auto;

    }

    &__nav-item a {
      @include font-family-Montserrat-700;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      padding: 18px 0;
      position: static;
      color: $light-purpol;
    }

    & a:focus {
      color: white;
    }

    & a:focus::before {
      display: none;
    }

    &__nav-item {
      border-bottom: none;
    }
  }

  .section-people {
    &__people-items {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      display: grid;
      gap: 45px;
      grid-template-columns: repeat(3, minmax(200px, 315px));
    }

    &__people-item {
      grid-template-rows: 64px max-content;
      width: auto;
    }
  }
  .trial-text {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 66px;
    color: #848E97;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  
  }
}